{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/leaflet.css">
<link rel="stylesheet" href="/static/css/dhlab_visualteam_style.css">
<link rel="stylesheet" href="/static/css/colorPicker/farbtastic.css">
{% endblock %}

{% block js %}
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

<!-- Geo viz -->
<script src='{% static "js/vendor/leaflet.js" %}'></script>

<script src="/static/js/vis_team/heatmap.js"></script>
<script src="/static/js/vis_team/heatmap-leaflet.js"></script>
<script src="/static/js/vis_team/colorPicker/farbtastic.js"></script>
<script src="/static/js/vis_team/dhlab_visualteam.js"></script>
{% endblock %}

{% block content %}
<img src="/static/img/pin.png" id="pinImg" class="hidden_pro"/>
<div>
	<div class="display_leafletMap">
		<div id="map" style="width:100%; height: 512px; position: relative;" class="leaflet-container leaflet-fade-anim" tabindex="0">
		</div>
	</div>

	<!-- addLayerButton template -->
	<div id ="addLayerdialog" title = "Heat Map">
	  <form id="addLayer_form">
		 <br><input id="layerName" type="text" name="layerName" placeholder="Variable Name" style="width: 	400" ><br>
		 Range <input id = "minVal" type= "text" name="min-range" placeholder="Lowest" style="margin-left: 10px; width: 60px">
			   <input id = "maxVal" type= "text" name="max-range" placeholder="Highest" style="margin-left: 10px; width: 60px"><br>
		<div id="paddingOption">
		Options<span id="option_bttn" class="bttn_nc"></span>
		<span id="gradient_select" class="option_hidden">
				<div id="paddingOption">Select Color Range </div>
				<div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				</div>
				<div id="cSlider">
					<button type="button" id="colorAddBttn">+</button>
				</div>
		<br>
		Select Time Variables<br>

		<form>
			<div id= "timeVariables" >Starts <input id="inputDate" type="text" name="sDate" style="margin-left: 10px; width: 100px;"> <input id="startTime" type="text" name="sTime" style="margin-left: 5px; width: 70px;"><br> </div>
			<div id= "timeVariables" >Ends   <input id="endDate" type="text" name="eDate" style="margin-left: 14px; width: 100px;"> <input id="endTime" type="text" name="eTime" style="margin-left: 5px; width: 70px;"><br></div>
			<div id= "timeVariables" >Play Over Speed <input id="speed" type="text" name="speedData" style="margin-left: 48px; width: 70px;"> hour/sec</div>
		<form>

		</span>
	  </form>

		<div style="text-align: right; padding-top = -5px; margin-right: 10px">
			<input id = "confirm_add" type="button" name ="cancel" value="Cancel" style="margin-right: 3px" >
			<input id = "confirm_add" type="button" name ="add" value="Submit">
		</div>
	</div>

	</div>
	<div id="mapSelectionWrap">
		<div id="mapSelection" style="position: absolute"/>
	</div>


	<!-- dropdown menu template -->
	<div id="list">
	  <ul id="dropdown">
		<li>
		  <a href="#" class="parent" style="font-size: 15pt"><input id="setupButton" name="add Layer">Layers</a>
		  <div class="clear"></div>
			<ul id="layerList" class="children" style="display: none;">
			<li><div class="addLayer_icons"><input id="binLayerButton" name="add Layer" /></div>
			    <div class="addLayer_icons"><input id="addLayerButton" name="add Layer" value="+" type="button" /></div>
				<div class="clear"></div>
				<hr />
				<ul class="addLayer_items">
					<li>
						<div class="addLayer_items_img"></div>
						<div class="addLayer_items_label">Category 1</div>
						<div class="addLayer_items_checkbox"><input type="checkbox" /></div>
						<div class="clear"></div>
					</li>
					<li>
						<div class="addLayer_items_img"></div>
						<div class="addLayer_items_label">Category 2</div>
						<div class="addLayer_items_checkbox"><input type="checkbox" /></div>
						<div class="clear"></div>
					</li>
					<li>
						<div class="addLayer_items_img"></div>
						<div class="addLayer_items_label">Category 3</div>
						<div class="addLayer_items_checkbox"><input type="checkbox" /></div>
						<div class="clear"></div>
					</li>
					<li>
						<div class="addLayer_items_img"></div>
						<div class="addLayer_items_label">Category 4</div>
						<div class="addLayer_items_checkbox"><input type="checkbox" /></div>
						<div class="clear"></div>
					</li>
				</ul>
		<!--		<li><input id="layer50" type="checkbox">&nbspRed Layer</li> -->
			</ul>
		</li>
	  </ul>
	<div id="list_button"><div class="button_box" id="settingButton"></div></div>
	<div style="clear: both;"></div>
	</div>
</div>
{% endblock %}