{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ repo.owner }} / {{ repo.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "css/nv.d3.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/leaflet.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/MarkerCluster.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/MarkerCluster.Default.css" %}'>
{% endblock %}

{% block js %}
<script type='text/javascript'>
  document.repo = {{repo_json|safe}};
  document.linked_repos = {{linked_json|safe}};
  document.visualizations = {{viz_json|safe}};
  document.initial_data = {{data|safe}};
  document.repo_owner = '{{repo.owner}}';
</script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script src='{% static 'js/vendor/requirejs.js' %}'></script>
<script type='text/javascript'>
  require([ '{% static "js/common.js" %}' ], function (common) {
    require.config({
      baseUrl: '{% static "js/vendor" %}'
    });

    require( [ 'app/viz/main' ] )

    filepicker.setKey( 'AtFpHahSSegcEhP2STuQAz' )
  });
</script>

<!-- include JS Templates -->
{% include 'js_templates/_data_table.html' %}
{% include 'js_templates/_data_details.html' %}
{% include 'js_templates/_empty_data_set.html' %}
{% include 'js_templates/_filters.html' %}
{% include 'js_templates/_new_viz.html' %}
{% include 'js_templates/_sharing_settings.html' %}

{% endblock %}

{% block outerspace %}
<div id='viz-chrome'>
  <div id='viz-actions' class='container container-padded'>
    <div id='repo-privacy' class='one columns'>
      <div>
        {% if repo.is_public %}
          <i class='icon-unlock'></i>
        {% else %}
          <i class='icon-lock'></i>
        {% endif %}
      </div>
    </div>
    <div id='repo-meta' class='ten columns'>
      <h4>{{ repo.owner }} / {{ repo.name }}</h4>
      <div style='margin-bottom: 8px;'>
        {% if repo.description %}
          {{ repo.description }}
        {% else %}
          <em>No diary description available</em>
        {% endif %}
      </div>
    </div>
    <div id='repo-actions' class='five columns'>
      <ul class='nav-list nav-inline'>
        <li>
          <a id='share-btn' class='btn' href='#'>
            <i class='icon-group'></i>&nbsp;Share
          </a>
        </li>
        <li>
          <a class='btn btn-primary' href='/api/v1/data/{{ repo.mongo_id }}?format=csv'>
            <i class='icon-download'></i>&nbsp;Download
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='container'>
    <div class='sixteen columns'>
      <ul id='viz-options' class='nav-list nav-inline'>
        <li id='raw_btn' class='active' data-type='raw'>
          <a href='#'>
            <i class='icon-list'></i>&nbsp;Raw
          </a>
        </li>
        <li id='map_btn' data-type='map'>
          <a href='#'>
            <i class='icon-map-marker'></i>&nbsp;Map
          </a>
        </li>
        <li id='line_btn' data-type='line'>
          <a href='#'>
            <i class='icon-signal'></i>&nbsp;Analytics
          </a>
        </li>
        <li id='filter_btn' data-type='filters'>
          <a href='#'>
            <i class='icon-filter'></i>&nbsp;Filters
          </a>
        </li>
        {% if 'delete_repository' in permissions %}
        <li data-type='settings'>
          <a href='#' data-type='settings'>
            <i class='icon-cog'></i>&nbsp;Settings
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<div id="vizContainer">
  <!-- Raw data list -->
  <div id="raw-viz" class="viz"></div>

  <!-- Geospatial view of our data ( if any geopoints exist within the dataset ). -->
  <div class='viz' id='map-viz'>
    <div class='sixteen columns' id='map'></div>
  </div>

  <!-- Time series analysis -->
  <div class='viz container' id='analytics-viz'>
    <div class='sixteen columns'>
      <div class='create-new'>
        <a href='#' class='btn btn-primary'>
          <i class='icon-plus-sign'></i>&nbsp;Create Visualization
        </a>
      </div>
      <div id='analytics-viz-list'></div>
    </div>
  </div>

  <!-- Filters view -->
  <div class='viz' id='filters-viz'>

    <div id="filterControls" class="container" style="margin-top: 30px;"></div>

    <!-- Filtered results -->
    <div id='fixed-header'>
      <table class='table fixed'><tr></tr></table>
    </div>
    <div class='sixteen columns active'>
      <table class='table fixed DataTable'><tbody></tbody></table>
    </div>
  </div>

  <!-- Repository settings -->
  {% if 'delete_repository' in permissions %}
  <div class='viz container' id='settings-viz'>
    <div class='sixteen columns'>

      <h4>Administration</h4>

      <div class='row'>
        <div class='six columns'>
          <strong>Edit this data repository</strong>
        </div>
        <div class='ten columns' style='text-align:right;'>
          <a href='{% url "repo_edit" repo_id=repo.mongo_id %}' class='btn btn-medium'>
            Edit Repository
          </a>
        </div>
      </div>

      <div class='row'>
        <div class='six columns'>
          <strong>Delete this data repository</strong>
          <div class='help-block'>
            Once you delete a repository, <strong>ALL</strong> data will
            be removed.
          </div>
        </div>
        <div class='ten columns' style='text-align:right;'>
          <a href='{% url "repo_delete" repo_id=repo.mongo_id %}' class='btn btn-danger'>
            <i class='icon-trash'></i> Delete Repository
          </a>
        </div>
      </div>

      <h4>Diary Backup</h4>

      <div class='row'>
        <div class='sixteen columns'>
          <div>
            <a class='btn' href='/api/v1/repos/{{ repo.mongo_id }}/?format=json'>
              Download Diary as JSON
            </a>
          </div>
          <div style='margin-top:16px;'>
            <a class='btn' href='/api/v1/repos/{{ repo.mongo_id }}/?format=xform'>
              Download Diary as XForm
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
