{% extends "base.html" %}
{% block content %}

<div class='section'>
	<div class="four columns offset-by-six">
		<h2>Log In</h2>

		<form class="well" method="post" action=".">
			{% csrf_token %}
			{{ form }}
			<input type="submit" id='login_btn' class="btn btn-primary" value='Log In' />
			<input type='hidden' name='next' value='/' />
		</form>
		
		<p>
			{% url "resend_activation" as resend_activation_url %}
			Missed your activation email? <br>
			<a id='resend_activation' href='{{ resend_activation_url }}'>Re-send activation email.</a>
		</p>

		<p style='display:none;'>
			{% url "auth_password_reset" as reset_url %}
			Can't access your account? <br>
			<a id='reset_password' href="{{ reset_url }}">Reset your password.</a>
		</p>
		<p>
			{% url "registration_register" as registration_url %}

			New to DHLab? <br>
			<a id='register_account' href="{{ registration_url }}">Create an account.</a>
		</p>
	</div>
</div>

{% endblock %}
