.viz {
	display: none;
}

.viz-active {
	display: block !important;
}

.nav-tabs {
	> li {
		width: 100px;

		a {
			 text-align:center;
			 padding-top:16px;

			 i {
			 	font-size: 24px;
			 }
		}
	}
}

#viz_options {
	margin-top:16px;
}

#privacy {
	float:left;
	width:104px;
	margin-left:-104px;
	margin-top:10px;

	> div {
		padding:12px;
	}
}

#line {
	.axis {
		path, line {
	  		fill: none;
	  		stroke: #000;
	  	}
	}

	.line {
	    fill: none;
	    stroke: orange;
	    stroke-width: 2px;
	}
}

// Styles for visualization panels
#raw {
	margin-top:16px;
}

.card {
	width:220px;
	margin-top:8px;
	margin-left:8px;
	border:1px solid #AAA;
	box-shadow: 0 0 2px #888;

	> .card-image {
		border-bottom:1px solid #AAA;

		> img {
			width: 220px;
		}
	}

	> .card-data {
		> div {
			padding: 8px;
		}
	}
}

#map {
	height: 512px;
	border: 4px solid #AAA;

	.leaflet-control {
		-webkit-border-radius:0px;
		border-radius:0px;
		opacity: 0.90;

		input {
			margin: 0 8px 0 0;
		}

		label {
			font-weight:bold;
			padding: 4px 8px;
			border-bottom: 1px solid #EEE;
			font-size: 16px;
		}

		label:last-child {
			padding-bottom:0;
			border:0;
		}
	}

	.leaflet-control-layers-list {
		margin: 0;
	}
}

// Needed for DataTables
.dataTables_info {
	padding-top:4px;
}
.pagination {
	text-align:right;
	margin:0 !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

.dataTables_filter {
	text-align: right;
}