table .help-block {
  margin-bottom: 0; }

.sidebar {
  width: 218px;
  height: 512px;
  border-right: 2px solid #EEE;
  padding-top: 8px; }
  .sidebar h4, .sidebar h5 {
    color: #666; }
  .sidebar h5 {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase; }
  .sidebar .actions > div {
    height: 32px;
    line-height: 32px;
    padding: 4px 8px; }

#org-list > div {
  margin-bottom: 8px; }

img.account-icon {
  border-radius: 4px; }

img.account-icon-large {
  border-radius: 8px; }

#member_list > div {
  margin-top: 8px; }

.ui-helper-hidden-accessible {
  display: none; }

#user_search_list {
  position: absolute; }
  #user_search_list .ui-autocomplete {
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    list-style-type: none;
    background-color: white; }
  #user_search_list .ui-autocomplete > .ui-menu-item {
    padding: 4px 8px;
    cursor: pointer; }
  #user_search_list .ui-autocomplete > .selected {
    background-color: #EEE; }
