{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
{% endblock %}

{% block outerspace %}
<div class='container'>

  <div class="row" style="margin-top: 80px;">
    <div class='sixteen columns u-textCenter'>
      <h1>Features</h1>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="three columns offset-by-two">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-cloud"></i></div>
        <h4 class="Feature-name">Cloud-Powered</h4>
        <div class="Feature-description">
          Store data and forms in the cloud, and access them from any computer or mobile device.
        </div>
      </div>
    </div>

    <div class="three columns offset-by-one">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-flag"></i></div>
        <h4 class="Feature-name">Languages</h4>
        <div class="Feature-description">
          Build forms and surveys that support multiple languages.
        </div>
      </div>
    </div>

    <div class="three columns offset-by-one">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-lock"></i></div>
        <h4 class="Feature-name">Two-Factor Auth.</h4>
        <div class="Feature-description">
          Enable two-factor authentication for an additional layer of security.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="three columns offset-by-two">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-bar-chart"></i></div>
        <h4 class="Feature-name">Graphs</h4>
        <div class="Feature-description">
          Create basic charts and graphs to help you understand your data better.
        </div>
      </div>
    </div>

    <div class="three columns offset-by-one">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-exchange"></i></div>
        <h4 class="Feature-name">API Access</h4>
        <div class="Feature-description">
          Push and pull data from other services using the API. 
        </div>
      </div>
    </div>

    <div class="three columns offset-by-one">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-github"></i></div>
        <h4 class="Feature-name">Open Source</h4>
        <div class="Feature-description">
          Setup, modify, and extend the system to meet your needs.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="three columns offset-by-two">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-group"></i></div>
        <h4 class="Feature-name">Share</h4>
        <div class="Feature-description">
          Create public forms and data sets, or share them only with specific users.
        </div>
      </div>
    </div>

    <div class="three columns offset-by-one">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-map-marker"></i></div>
        <h4 class="Feature-name">Maps</h4>
        <div class="Feature-description">
          Plot your data spatially to see geographic trends.
        </div>
      </div>
    </div>

    <div class="three columns offset-by-one">
      <div class="Feature">
        <div class="Feature-icon"><i class="fa fa-mobile-phone"></i></div>
        <h4 class="Feature-name">Mobile-Friendly</h4>
        <div class="Feature-description">
          Access forms on iOS or Android devices with the native web browser.
        </div>
      </div>
    </div>
  </div>

</div><!-- /.container -->
{% endblock %}
