table .help-block {
  margin-bottom: 0; }

#org-list > div {
  margin-bottom: 8px; }

img.account-icon {
  border: 1px solid #CCC;
  border-radius: 4px; }

img.account-icon-large {
  border: 1px solid #CCC;
  border-radius: 8px; }

#member_list > div {
  margin-top: 8px; }

.ui-helper-hidden-accessible {
  display: none; }

#user_search_list {
  position: absolute; }
  #user_search_list .ui-autocomplete {
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    list-style-type: none;
    background-color: white; }
  #user_search_list .ui-autocomplete > .ui-menu-item {
    padding: 4px 8px;
    cursor: pointer; }
  #user_search_list .ui-autocomplete > .selected {
    background-color: #EEE; }
