.viz {
  display: none; }

.viz-active {
  display: block !important; }

#line .axis path, #line .axis line {
  fill: none;
  stroke: #000; }
#line .line {
  fill: none;
  stroke: orange;
  stroke-width: 2px; }

#map {
  height: 512px;
  border: 4px solid #aaaaaa; }

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand; }

table.table thead .sorting {
  background: url("images/sort_both.png") no-repeat center right; }

table.table thead .sorting_asc {
  background: url("images/sort_asc.png") no-repeat center right; }

table.table thead .sorting_desc {
  background: url("images/sort_desc.png") no-repeat center right; }

table.table thead .sorting_asc_disabled {
  background: url("images/sort_asc_disabled.png") no-repeat center right; }

table.table thead .sorting_desc_disabled {
  background: url("images/sort_desc_disabled.png") no-repeat center right; }

.dataTables_filter {
  text-align: right; }
