.clear {
	clear: both;
}
#paddingOption{
	padding-top: 15px;
}

#timeVariables {
	text-indent: 5px;
}

#list,
#list_button {
	float: left;
}

#list_button {
	background-color: black;
	width: 40px;
	height: 40px;
	opacity: 0.4;
}

#list_button:hover {
	opacity: 0.7;
}

#settingButton {
	background: black url(../img/icon2.png) no-repeat;
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin: 5px;
	border: none;
}

#setupbutton {
	background: url(../img/icon1.png) no-repeat;
	background-size: 30px 25px;
	margin-top: 7px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin: 5px;
	border: none;
}

.buttonbox {
	background-color: #3E4028;
	width: 40px;
	height: 40px;
	float: left;
	opacity: 0.4;
}

.buttonbox:hover {
	opacity: 0.7;
}

#binLayerButton {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: none;
	background: url(../img/trashbin.png) no-repeat;
	z-index: 1000;
}

#addLayerButton {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: none;
	z-index: 1000;
	font-size: 20pt;
	background-color: black;
	color: white;
}

#addLayerdialog
{
	background: url(../img/blackbackground.png) repeat;
	color: white;
	display: none;
	
}
/* dialog form buttons */
.mapSelect_bttn {
	width: 450px;
	height: 40px;
	padding: 10px 25px 10px 25px;
	font-size: 30px;
	font-family: Arial;
	text-decoration: none;
	color: #ffffff;
	background-color: black;
	cursor: pointer;
	opacity:0.7;
	border: 0px solid;
	position: relative;
	
}
.mapSelect_bttn:hover {
	background-color: grey;
	color:black;
	opacity:1.0;
}

.mapSelect_title {
padding-top: 0px;
padding-bottom: 0px;
line-height: 0px;
}

.addLayer_bttn {
	margin-bottom: 10px;
	background-color: white;
	border:1px solid #ccc;
	border-radius: 4px;
	height: 25px;
	width: 80px;
	background-size: 100px 40px;
	background-position: center;
	opacity: 1.0;
	font-size: 15px;
	float: none;
	font-weight: bold;
	position: abolute;
}

/* dialog form title bar */
.ui-dialog-titlebar {
	background: black;
	opacity: 0.7;
	color: white;
	font-weight: bold;
	font-size: 30px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: move;
}
/* dialog form body */
.ui-dialog-content{
	padding-left: 10px;
}


/* disable the button text */
.ui-button-text {
	display: none;
}

/* dialog form add button */
#confirm_add {
	margin-bottom: 10px;
	/*background: url(../img/submit_bttn2.jpg) no-repeat;*/
	background-color: white;
	border:1px solid #ccc;
	border-radius: 4px;
	height: 25px;
	width: 80px;
	background-size: 100px 40px;
	background-position: center;
	opacity: 1.0;
	font-size: 15px;
	float: none;
	font-weight: bold;
}

#addLayerdialog form input {
	color: black;
}


/* prevent nonused hyperlinks to be highlighted */
a {
	text-decoration:none;
}	
a:hover {
	text-decoration: none;
}
	
#dropdown {
	/* cancel the default list style */
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	float: right;
}

#dropdown li a.parent {
	display:block; 
	width:115px; height:40px;
	font-weight:bold;
	padding-left: 10px;
	line-height:35px;
	color: white;
	background: black;
	opacity: 0.3;
	float: right;
}

#dropdown li a.parent:hover {
	opacity: 0.7;
}

checkbox property
#dropdown li .children input {
	padding-right: 5px;
}
	
#layerList {
	/* cancel the default list style */
	margin:0;
	padding:0;
	list-style:none;	

	/* make sure it has the highest z-index */
	left:0;
	z-index:500;
	background:#fff;
	width:240px;
	background: black;
	opacity: 0.7;
	color: white;
	padding: 5px;
}

#dropdown ul li {
	font-size:11px;	
	padding: 2px;
}
	
#dropdown ul li a:hover {
	color:#e11	
}

#dropdown ul li hr {
	padding: 0;
	margin: 10px 0;
}

.addLayer_items {
	/* cancel the default list style */
	margin:0;
	padding:0;
	list-style:none;	

	/* make sure it has the highest z-index */
	background:#fff;
	background: black;
	color: white;
}
			
.addLayer_items li {
	margin-top: 5px;
}
/* temporarilty added */
.addLayer_items_img,
.addLayer_items_label,
.addLayer_items_checkbox {
	float: left;
}

.addLayer_items_img {
	width: 62px;
	height: 40px;
}

.addLayer_items_label {
	margin-left: 5px;
	width: 140px;
	font-size: 18pt;
	padding-top: 10px;
	height: 30px;	
}

.addLayer_items_checkbox {
	margin-left: 5px;
	width: 20px;
	background-color: black;
	color: black;
	height: 40px;
}

.addLayer_items_checkbox input {
	width: 15px;
	height: 15px;
	margin-top: 12px;
	border: none;
	background-color: black;
	color: black;
}

.addLayer_icons {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
}

#dropdown,
.buttonbox {
	float: left;
	margin-right: 10px;
}


#option_text {
	padding-right: 30px;
}
/*gradient option button*/
.bttn_nc {
	background: url(../img/glyphicons-white.png) -313px -117px;	
	padding-left: 14px;
	margin-left: 20px;
	cursor: pointer;
}
.bttn_c {
	background: url(../img/glyphicons-white.png) -288px -117px;	
	padding-left: 14px;
	margin-left: 20px;
	cursor: pointer;	
}

/*gradient select option body */
.option_hidden {
	display: none;
}

.option_displayed {
	display: inline;
}

#cp_holder {
	opacity: 1.0;
}

	width: 3px;
#picker-indicator {
	height: 3px;
	position: absolute;
	border: 1px solid white;
	opacity: 1;
}


#slider-indicator {
                width: 100%;
                height: 10px;
                position: absolute;
                border: 1px solid black;
            }
			
			
#addLayerdialog {
	width: 400px;
}

#asgn_clr_body .ui-selecting { background: #FECA40; }
#asgn_clr_body .ui-selected { background: #F39814; color: white; }
#asgn_clr_body { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#asgn_clr_body li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }



/*******for color slider******/
#slider-range {
    width: 384px;
	height: 25px;
	background: url(../img/palette2.png);
	background-size: 100% 100%;
	border-radius: 0px;
	opacity: 1;
	position: relative;	
	margin-left: 0px;
	margin-top: 10px;
	

}

#cSlider {
	margin-left: 0px;
	padding: 0px;
	background-color: black;
	opacity: 1;
	width: 0px;	
}

#colorAddBttn {
	color: white;
	border: none;
	background: transparent;
	font-size: 20px;
	margin-left: 385px;
	position: relative;
	top: -1.1em;
	opacity: 1;
}

#bttn2 {
	margin-top: 50px;
	border: solid;
	color: white;
	border-width: thin;
	border-color: white;
	background-color: black;
}

#pinImg {
	position:absolute;
}

.hidden_pro {
	display: none;
}

.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: url(../img/pin.png) 100% 100%;
	font-weight: normal/*{fwDefault}*/;
	height: 56px;
	width: 9px;
	margin-top: 15px;
	border: none;
	margin-left: -5px;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555/*{fcDefault}*/;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: url(../img/pin.png) 100% 100%;
	font-weight: normal/*{fwDefault}*/;
	height: 56px;
	width: 9px;
	margin-top: 15px;	
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #212121/*{fcHover}*/;
	text-decoration: none;
}
