.formbox {
    position: relative;
    min-height: 200px;
    min-width: 600px;;
    background-color: #fafafa;
    padding-top: 20px;
}

.sidebar{
    border-radius: 10px;
    top:60px;
    position: relative;
    min-height: 200px;
    background-color: #dddddd;
    padding-top: 20px;
}

.prevButton {
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.nextButton{
    position: absolute;
    bottom: 40px;
    right: 30px;
}