.sidebar {
	text-align:right;

	h4, h5 {
		color:#111;
	}

	h5 {
		font-size:12px;
		font-weight: normal;
		text-transform: uppercase;
	}

	.actions {
		> li {
			padding: 8px 0;
		}
	}

	.dairy-dropzone {
		border: 1px dashed $theme;
		text-align:center;
		padding: 16px 8px;
		margin: 16px 8px;
	}	
}

span.label {
	color: $accent;
	font-variant: small-caps;
	font-weight: bold;
	padding: 2px 4px 4px 4px;
	border-radius: 2px;
}

span.label-pending {
	color: lighten( $accent, 66% );
}

#org-list {
	> div {
		margin-bottom: 8px;
	}
}

img.account-icon {
	border:1px solid lighten( $accent, 66% );
	border-radius:4px;
}

img.account-icon-large {
	border-radius:8px;
}

// Organization Dashboard styles
#member_list > div {
	margin-top:8px;
}

.ui-helper-hidden-accessible {
	display:none;
}

#user_search_list {

	position:absolute;

	.ui-autocomplete {
		border-bottom:1px solid #EEE;
		border-right:1px solid #EEE;
		border-left:1px solid #EEE;
		list-style-type: none;
		background-color: white;
	}

	.ui-autocomplete > .ui-menu-item {
		padding: 4px 8px;
		cursor:pointer;
	}

	.ui-autocomplete > .selected {
		background-color: #EEE;
	}
}

.diary-list {

	td {
		vertical-align: middle;
		padding:4px 8px;
	}

	.privacy {
		font-size:1.2em;
		width:18px;
		text-align:center;
	}

	.add-data {
		width:80px;
		text-align:center;
	}

	.submission-count {
		 width:64px;
		 text-align:right;
		 padding-right:16px;
	}

}