#viz-chrome {
	position:absolute;
 	width:100%;

	border-bottom:	1px solid #ddd;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

 	.container-padded {
 		padding-top:80px;
 	}

	#repo-privacy {
		text-align:right;
		font-size: 3em;
		> div {
			padding:12px;
		}
	}

	#repo-actions {
		float:right;
		text-align:right;
		margin-top: 8px;

		ul.nav-list a {
			color: white;
		}
	}

}

div#viz-data {
	position:absolute;
	top:210px;
	bottom:0px;

	width:100%;
	overflow:scroll;
}

.active {
	a {
		color: $accent;
	}
}

.disabled {
	a {
		color: lighten( $accent, 66% );
	}
}

.viz { display: none; }

.viz-active {
	display: block !important;
}

#viz_options {

	margin-top:8px;
	margin-bottom: 0;

	border-bottom: 1px solid white;

	li {
		margin-bottom: -1px;
		text-align:center;
		display: inline-block;
		width: 80px;

		a {
			display:block;
			padding:8px 0;
			font-size: 0.9em;

			i {
				font-size: 1.2em;
			}
		}

		a:hover {
			border-top:1px solid #ddd !important;
			border-right:1px solid #ddd !important;
			border-left:1px solid #ddd !important;
			border-bottom:1px solid white;
			border-radius: 8px 8px 0 0;
		}

	}

	li.disabled {
		a:hover {
			border:none !important;
		}
	}

	li.active {
		a {
			border-top:1px solid #ddd !important;
			border-right:1px solid #ddd !important;
			border-left:1px solid #ddd !important;
			border-bottom:1px solid white;
			border-radius: 8px 8px 0 0;
		}
	}
}

@import "viz/_chart_view";
@import "viz/_map_view";
@import "viz/_raw_view";