table {
	.help-block {
		margin-bottom:0;
	}
}

.sidebar {
	width:218px;
	height:512px;
	border-right:2px solid #EEE;
	padding-top:8px;

	h4, h5 {
		color:#666;
	}

	h5 {
		font-size:12px;
		font-weight: normal;
		text-transform: uppercase;
	}

	.actions {
		> div {
			height:32px;
			line-height:32px;
			padding:4px 8px;
		}
	}
}

#org-list {
	> div {
		margin-bottom: 8px;
	}
}

img.account-icon {
	 border-radius:4px;
}

img.account-icon-large {
	border-radius:8px;
}

// Organization Dashboard styles
#member_list > div {
	margin-top:8px;
}

.ui-helper-hidden-accessible {
	display:none;
}

#user_search_list {

	position:absolute;

	.ui-autocomplete {
		border-bottom:1px solid #EEE;
		border-right:1px solid #EEE;
		border-left:1px solid #EEE;
		list-style-type: none;
		background-color: white;
	}

	.ui-autocomplete > .ui-menu-item {
		padding: 4px 8px;
		cursor:pointer;
	}

	.ui-autocomplete > .selected {
		background-color: #EEE;
	}
}
