$accent: #111;

.topbar-wrapper {
	border-top:4px solid $accent;
	border-bottom:1px solid ligthen( $accent, 33% );
	background:url(/static/img/tiny_grid/tiny_grid.png);
	padding:8px 0;

 	box-shadow: inset 0 0 8px #999;

 	h1, h2, h3 {
 		margin:0;
 	}

 	.topbar {
 		 height:44px;
 		 margin-top:4px;
 	}

	.logo {
		z-index:0;
		position:absolute;

		width:100px;
		height:64px;

		left:50%;
		margin-top:-8px;
		margin-left:-50px;

		background:#FFF;
		text-align:center;
		border-left:2px solid $accent;
		border-right:2px solid $accent;
		border-bottom:2px solid $accent;
		border-radius:0px 0px 4px 4px;
		box-shadow: 0px 0px 8px #999;

		> div {
			padding-top:8px;
		}
	}

	.user-panel {
		line-height:34px;
		h4 {
			display:inline;
		}
	}
}

span.help-block {
	font-size: 13px; color: #AAA;
}