// Import our base skeleton
@import "skeleton/_base";
@import "skeleton/_skeleton";
@import "skeleton/_layout";

// Import our color scheme
@import "_colors";

// Import our stylized elements css
@import "elements/_buttons";
@import "elements/_tables";

// import sheets for specific locations
@import "_topbar";
@import "_landing";
@import "_dashboard";
@import "_viz";

img {
	vertical-align: middle;
}

// Miscellaneous CSS that needs to be categorized
.section {
	margin:32px 0;
	padding:0 8px;
}

div.help-block {
	font-size: 13px; 
	color: #AAA;
}