#xform_view {

    > #form_actions {
        padding: 16px;
    }

    > #form_fields {
        background-color: #fafafa;
        padding:16px;
        min-height: 256px;
    }

    .control-group {
        display:none;
    }
}