
a, a:visited, a:active {
	color: $theme;
	text-decoration: none;
}

a:hover {
	color: $accent;
}

a.btn {
	display:inline;
	background-color: lighten( $accent, 33% );
	color:#FFF;
	padding:8px;
	border-radius: 2px;
	line-height: 32px;

	span.label {
		background-color: transparent;
	}
}

a.btn:hover {
	background-color: darken( $theme, 50% );
}

a.btn-primary {
	background-color: $theme;
	color: #FFF;
}

a.btn-cancel {
	color: #FFF;
}

a.btn-small {
	font-size: 12px;
	padding: 4px;
}

a.btn-large {
	font-size: 2em;
	padding: 8px 16px;
	line-height: 50px;
}