// _tables.scss

.table {

	width:100%;

	tr {
		border-bottom: 1px solid #EEE;
	}

	tbody {
		tr:hover {
			background-color: #EEE;
		}
	}

	th {
		font-weight: bold;
		text-align: left;
		padding: 8px 16px;
		color: $theme;

		background-color: #FFF !important;
		white-space: nowrap;
	}

	td {
		padding: 8px 16px;

		a {
			display:block;
		}
	}
}