<script id="DataTable-template" type="text/template">

  <div class="DataTable">
    <div class='DataTable-fixedHeader'>
      <table class='table fixed'><thead></thead></table>
    </div>
    <div class='DataTable-table'>
      <table class='table fixed'><thead></thead><tbody></tbody></table>
    </div>
  </div>

</script>



<script id="DT-linked-form-tpl" type="text/template">
  <td>
  <% _.each(document.linked_repos, function(repo) { %>
        <% css_color = model.form_css(model.linked[repo.name]); %>
        <span class="linkedForm <%= css_color %>"><%= repo.name %></span>
        <br>
  <% }); %>
  </td>
</script>
