<script type='text/template' id='data-detail-template'>
  <div class="bbm-modal__topbar"></div>
  <div class="bbm-modal__section">
    <div class='control-group'>
      <h4>Details</h4>
      <table class='table'>
        <% _.each( attributes, function( val, key ) { %>
          <tr>
            <td><%= key %></td><td><%= val %></td>
          </tr>
        <% }); %>
      </table>
    </div>
    <% if( is_tracker ) { %>
    <div class='control-group' id='data-links'>
      <h4>Linked Forms</h4>
      <table class='table'>
        <% _.each( linked, function( repo ) { %>
          <tr>
            <td>
              <a href='/{{ account.username }}/<%= repo.get( "name" ) %>/webform/' class='btn btn-small js-add-data'>
                <i class='fa fa-pencil'></i> Add Data&nbsp;&nbsp;
              </a>
            </td>
            <td>
              <a href='/{{ account.username }}/<%= repo.get( "name" ) %>/' class='js-show-data'>
                <%= repo.get( 'name' ) %>
              </a>
            </td>
          </tr>
        <% }); %>
      </table>
    </div>
    <% } %>

  </div>
  <div class="bbm-modal__bottombar">
    <a href="#" class="btn js-edit" style="text-align: left">Edit Data</a>&nbsp;&nbsp;&nbsp;
    <a href="#" class="btn js-delete" style="text-align: left">Delete Entry</a>&nbsp;&nbsp;&nbsp;
    <a href="#" class="btn btn-primary js-cancel">Done</a>
  </div>
</script>
