<script id="DataTable-template" type="text/template">

  <div class="DataTable">
    <div class='DataTable-fixedHeader'>
      <table class='table fixed'><thead></thead></table>
    </div>
    <div class='DataTable-table'>
      <table class='table fixed'><thead></thead><tbody></tbody></table>
    </div>
  </div>

</script>



<script id="DT-linked-form-tpl" type="text/template">
  <td>
  <% _.each(document.linked_repos, function(repo) { %>
      <% if( model.linked[repo.name]) { %>
          <span style="color:#00ff00"><%= repo.name %></span>
      <% } else { %>
          <span style="color:#ff0000"><%= repo.name %></span>
      <% }; %>&nbsp;&nbsp;
  <% }); %>
  </td>
</script>
