<!-- Filter View Layout -->
<script id="filters-layout-tmpl" type="text/template">
  <div class="container Filters-filterControls" style="margin-top: 30px;"></div>
  <br>
  <div class="container">
    <div class="row">
      <div class="five columns offset-by-one"><div class="Filters-appliedFilters"></div></div>
      <div class="five columns offset-by-five"><div class="Filters-savedFilters"></div></div>
    </div>
  </div>
  <div class="Filters-filteredData"></div>
</script>


<!-- Filtering controls/form -->
<script id="filter-controls-tmpl" type="text/template">
  <div class="u-textCenter">
    <h4>Add filters to create a subset of your data</h4>
    <div class="filterInputBar">
      Filter
        <select id="" class="columnName u-inline"></select>
      to values
        <select id="" class="filterType u-inline u-widthAuto">
          <option value="eq">equal to</option>
          <option value="gt">&gt;</option>
          <option value="gte">&geq;</option>
          <option value="lt">&lt;</option>
          <option value="lte">&geq;</option>
        </select>
      <input class="filterValue u-inline" type="text" style="max-width: 150px;">
      <a href="#" class="btn btn-primary js-add">Apply</a>
    </div>
    <a href="#" class="btn js-reset"><i class="fa fa-plus-circle"></i> New Filter Set</a>
    <a href="#" class="btn js-download"><i class="fa fa-download"></i> Download as CSV</a>
  </div>
</script>


<!-- Applied Filter Set -->
<script id="filter-set-tmpl" type="text/template">
  <h4>Filtering:</h4>
  <ul class="activeFilters"></ul>

  <input class="Filters-fsNameField u-inline" type="text" placeholder="Name this filter set" style="max-width: 170px;">
  <a href="#" class="btn btn-primary js-save"><%= persist_label() %></a>
</script>

<!-- Applied Filter -->
<script id="filter-template" type="text/template">
  <li class="appliedFilters">
    <strong><%= column_name %></strong> to values <strong><%= filter_type %> <%= filter_value %></strong>
    <a href="#" class="js-remove"><i class="fa fa-remove"></i>
  </li>
</script>

<!-- Empty Filter Set -->
<script id="empty-filterset-tmpl" type="text/template">
  <p>No filters applied</p>
</script>

<!-- Saved Filters List -->
<script id="saved-filters-tmpl" type="text/template">
  <h4>Saved Filter Sets:</h4>
  <ul class="Filters-savedFilters"></ul>
</script>

<!-- Empty Saved List -->
<script id="empty-saved-filters-tmpl" type="text/template">
  <p>No saved filter sets</p>
</script>

<!-- Saved Filter -->
<script id="saved-filter-tmpl" type="text/template">
  <li class="Filters-savedFilter">
    <a class="js-apply" href="#" style="color: #555;"><i class="fa fa-reply"></i></a>
    <strong><%= name %></strong>
    <a href="#" class="js-delete"><i class="fa fa-trash"></i>
  </li>
</script>
