<script type="text/template" id="new-study-template">
	<div class="bbm-modal__topbar">
		<h3 class="bbm-modal__title">New Study</h3>
	</div>

	<div class="bbm-modal__section">
		<form>
			<div class='control-group'>
				<input type='text' id='study-name' class='input large' placeholder='Study name'>
				<span class='error'></span>
			</div>
			<div class='control-group'>
				<input type='text' id='study-description' class='input large' placeholder='What is this for?'>
			</div>
			<div class='control-group'>
				<label>
					<input type='checkbox' id='study-tracker' class='input large'>
					Include a way to keep track of things inside this study.
				</label>
			</div>
		</form>
	</div>
	<div class="bbm-modal__bottombar">
		<a href="#" class="btn btn-cancel">Cancel</a>
		<a href="#" class="btn btn-primary">Create</a>
	</div>
</script>
