{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ account.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class='row'>
	<div class='span4'>
		<h3>
			<img width='40' src='{{ account.icon }}' class='account-icon-large'>
			<a href='{% url "organization_dashboard" org=account.name %}'>{{ account.name }}</a>
		</h3>
		<div>
			<h5>Members</h5>
			<div>
				{% if is_owner %}
				<div class='form-search' style='background:#EEE;padding:8px;border:1px solid #DDD;margin-bottom:8px;'>
					<input type='text' class='input-medium search-query'>
					<button class='btn pull-right'>
						<i class='icon-plus-sign'></i>&nbsp;Add
					</button>
				</div>
				<div>
					<div class='pull-right'>
						<span class='label label-inverse'>administrator</span>
					</div>
					<a href='{% url "user_dashboard" username=user.username %}'>
						{{ user.username }}
					</a>
				</div>
				{% endif %}
				{% for member in members %}
					{% if member.user != user %}
					<div>
						<a href='{% url "user_dashboard" username=member.user.username %}'>
							{{ member.user.username }}
						</a>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class='span8'>
		<table class='table table-striped table-bordered'>
			<thead>
				<tr>
					<td colspan='4' style='background-color:#EEE;'>
						<h4>
							{% if is_owner %}
							<div class='pull-right'>
								<a id='new_repo_btn' href='{% url "organization_repo_new" org=account.name %}' class='btn btn-small'>
									New Repository
								</a>
							</div>
							{% endif %}
							{{ account.name }} Data Repositories
						</h4>
					</td>
				</tr>
			</thead>
			<tbody>
				{% if repos|length == 0 %}
					<tr>
						<td style='text-align:center;' colspan='4'>
							This organization has no data repositories.
						</td>
					</tr>
				{% endif %}
				{% for repo in repos %}
					<tr>
						<td style='width:32px;text-align:center;'>
							{% if repo.public %}
								<i class='icon-unlock'></i>
							{% else %}
								<i class='icon-lock'></i>
							{% endif %}
						</td>
						<td>
							<a href='{% url "repo_visualize" username=account.name repo_name=repo.name %}'>
								{{ repo.name }}
							</a>
							{% if repo.description %}
							<span class='help-block'>
								{{ repo.description|slice:":42" }}...
							</span>
							{% endif %}
						</td>
						<td style='width:102px;text-align:center;'>
							<a href='{% url "repo_webform" username=account.name repo_name=repo.name %}' class='btn btn-small'>
								<i class='icon-pencil'></i> Web Form
							</a>
						</td>
						<td style='width:64px;text-align:right;'>
							{{ repo.submission_count }} <i class='icon-file-alt'></i>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}