{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section id="register">
  <div class="page-header">
	<h1>Resend Activation Email</h1>
</div>

<div class="row">
	<div class="span8">
		{% if status %}
		<div class='alert alert-success'>
			{{ status }}
		</div>
		{% endif %}
		<form class="well" method="post" action=".">
			{% csrf_token %}
			{% for field in form %}
				{{ field.label_tag }}
				{{ field }}
				{% if field.field.required %}*{% endif %}
				<span class='help-block'>{{ field.errors }}</span>
	  		{% endfor %}
	  		<input type="submit" class="btn large btn-primary" value="{% trans 'Resend' %}" />
  		</form>
	</div>
</div>
</section>
{% endblock %}
