{% extends 'base.html' %}

{% block content %}
<div class='row'>
	<div class='span6'>
		<div class='well'>
			<form action='{% url "dashboard" %}' method='post' enctype='multipart/form-data'>
				{% csrf_token %}
				<fieldset>
					<legend>Upload XForm</legend>
					{{ form.file }}
					<button type='submit' class='btn btn-primary'>Upload!</button>
				</fieldset>
			</form>
		</div>
	</div>
	<div class='span6'>
		<h4>Recent Submissions</h4>
		<div>
			Blah blah
		</div>
	</div>
</div>
<div class='row'>
	<div class='span12'>
		<h3>Your Forms</h3>
		{% if user_forms|length == 0 %}
		<div style='margin-bottom:32px;'>You have no forms uploaded =[</div>
		{% else %}
		<table class='table table-bordered table-striped'>
			<thead>
				<tr>
					<th>Name</th>
					<th># of Submissions</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for xform in user_forms %}
					<tr>
						<td>{{ xform.name }}</td>
						<td>{{ xform.submission_count }}</td>
						<td>
							<a href='/visualize/{{xform.mongo_id}}' class='btn'><i class='icon-search'></i> Visualize</a>
							<a href='/webform/{{xform.mongo_id}}' class='btn'><i class='icon-pencil'></i> Web Form</a>
							<a href='/forms/delete/{{xform.mongo_id}}' class='btn btn-danger'><i class='icon-trash'></i> Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}