{% extends 'base.html' %}

{% block content %}
<style type='text/css'>
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.line {
    fill: none;
    stroke: orange;
    stroke-width: 2px;
}
</style>
<div class='row'>
    <div class='span12'>
        <div id='viz'></div>
    </div>
</div>
<div id='form_id' style='display:none;'>{{form_id}}</div>

<script src="/static/js/vendor/json2.js"></script>
<script src="/static/js/vendor/underscore.js"></script>
<script src="/static/js/backbone-min.js"></script>

<script src='/static/js/d3.v3.min.js'></script>
<script src='/static/js/viz.js'></script>
{% endblock %}