{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ account.name }}{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src='{% static "js/vendor/underscore.js" %}'></script>
<script src='{% static "js/vendor/jquery.cookie.js" %}'></script>
<script src='{% static "js/app/orgs/dashboard.js" %}' type="text/javascript"></script>
<script id='member_tmpl' type='text/html'>
	<div>
		<div class='pull-right'>
			<span class='label label-info'>Pending</span>
		</div>
		<%= member_name %>
	</div>
</script>
{% endblock %}

{% block content %}
<div class='row'>
	<div class='three columns sidebar'>
		<h3 style='text-align:center;'>
			<img width='40' src='{{ account.icon }}' class='account-icon account-icon-large'>
			<a href='{% url "organization_dashboard" org=account.name %}'>{{ account.name }}</a>
		</h3>

		{% if is_owner %}
		<div class='dairy-dropzone'>
			Drag a CSV file here or
			<div>
				<a class='btn btn-primary btn-small' id='new_repo_btn' href='{% url "organization_repo_new" org=account.name %}'>
					Create From Scratch
				</a>
			</div>
		</div>	
		{% endif %}	

		<div class='section'>
			{% if is_owner %}
				<div style='float:left;'>
					<a href='#' class='btn btn-small btn-primary' id='add-user-btn'>
						<i class='icon-plus-sign'></i>
						&nbsp;Add
					</a>
				</div>
				<div class='row' style='display:none;'>
					<div class='twelve columns'>
						<input id='add_member' type='text' style='margin:0;'>
					</div>
					<div class='four columns'>
						<div style='padding: 0 8px;'>
							<a class='btn btn-primary' href='#'>
								<i class='icon-plus-sign'></i>&nbsp;Add
							</a>		
						</div>
					</div>
				</div>
				<div id="user_search_list">
				</div>
			{% endif %}

			<h4>Members</h4>

			<div>
				{% if is_member %}
				<div>
					{% if is_owner %}
					<div style='float:left;'>
						<span class='label'>admin</span>
					</div>
					{% endif %}
					{% if is_member.pending %}
					<div style='float:left;'>
						<a href='{% url "organization_member_accept" org=account.name user=user.username %}'
						   class='btn btn-small btn-success'>
							Join
						</a>
						<a href='{% url "organization_member_ignore" org=account.name user=user.username %}'
						   class='btn btn-small'>
						   Ignore
						</a>
					</div>
					{% endif %}

					<a href='{% url "user_dashboard" username=user.username %}'>
						{{ user.username }}
					</a>
				</div>
				{% endif %}

				<div id='member_list'>
				{% for member in members %}
					{% if member.user != user %}
					<div>
						{% if member.is_admin %}
						<div style='float:left;'>
							<span class='label'>administrator</span>
						</div>
						{% endif %}
						{% if member.pending %}
						<div style='float:left;'>
							<span class='label label-pending'>pending</span>
						</div>
						{% endif %}
						<a href='{% url "user_dashboard" username=member.user.username %}'>
							{{ member.user.username }}
						</a>
					</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class='thirteen columns'>
		<table id='repo_list' class='table diary-list'>
			<tbody>
				<tr><td colspan='4'>Data Diaries</td></tr>
				{% if repos|length == 0 %}
					<tr>
						<td style='text-align:center;' colspan='4'>
							This organization has no data diaries =[.
						</td>
					</tr>
				{% endif %}
				{% for repo in repos %}
					<tr>
						<td class='privacy'>
							{% if repo.public %}
								<i class='icon-unlock'></i>
							{% else %}
								<i class='icon-lock'></i>
							{% endif %}
						</td>
						<td class='add-data'>
							<a href='{% url "repo_webform" username=account.name repo_name=repo.name %}' class='btn btn-small'>
								<i class='icon-pencil'></i> Add Data
							</a>
						</td>						
						<td>
							<a href='{% url "repo_visualize" username=account.name repo_name=repo.name %}'>
								{{ repo.name }}
							</a>
							{% if repo.description %}
							<span class='help-block'>
								{{ repo.description|slice:":42" }}...
							</span>
							{% endif %}
						</td>
						<td class='submission-count'>
							{{ repo.submissions }} <i class='icon-file-alt'></i>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}