{% extends 'base.html' %}
{% load staticfiles %}
{% block js %}
<script src="/static/js/form_builder.js"></script>
{% endblock %}
{% block title %}Create new data repository{% endblock %}

{% block content %}
<div class='container'>
	<div class='row'>
		<div class='span12'>
			<form action='{% url "form_build" %}' method='post' enctype='multipart/form-data'>
				{% csrf_token %}

				<label {% if form.name.errors %}style='color:red'{%endif%}>
					<strong>Repository name</strong>
				</label>
				{{ form.name }}
				{{ form.name.errors }}

				<label>
					<strong>Description (optional)</strong>
				</label>
				<textarea rows='5' name='desc' class='input-xxlarge'></textarea>
				{{ form.desc.errors }}

				<hr/>

                <!--  Table for Survey Questions  -->
                <table class='table table-striped table-bordered'>
                <thead>
                    <tr>
                        <td colspan='3' style='background-color:#EEE;'>
                            <h4>
                                <div class='pull-right'>
                                    <a data-toggle="modal" id='addquestion' href="#questionEditWindow" class="btn btn btn-medium">Add Question</a>
                                </div>
                                Survey Questions
                            </h4>
                        </td>
                    </tr>
                </thead>
                <tbody id='questionList'>
					
                </tbody>
                </table>
                
                <!-- Modal View For Editing Question-->
                <div id='questionEditWindow' class='modal hide fade'>

                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3>New Question</h3>
					</div>
                    <div class="modal-body">
                        
                        <div>
                        Name:
                        <input id="questionName" name="questionName" type="text" />
                        </div>

                        <div>
                            Label:
                            <input id="questionLabel" name="label" type="text" />
                        </div>

                        <div>
                        Type:
                        <select id='questionType'>
                            <option value='note'>Note</option>
                            <option value='decimal'>Decimal</option>
                            <option value='integer'>Integer</option>
                            <option value='text'>Text</option>
                            <option value='geopoint'>GeoPoint</option>
                            <option value='time'>Time</option>
                            <option value='dateTime'>Date Time</option>
                            <option value='date'>Date</option>
                            <option value='select one'>Select One</option>
                            <option value='select all that apply'>Select Multiple</option>
                            <option value='photo'>Photo</option>
                            <option value='audio'>Audio</option>
                            <option value='video'>Video</option>
                            <option value='barcode'>Barcode</option>
                        </select>
                        </div>

                        <div id="choices">
                            
                        </div>
                        
					</div>
                    <div class="modal-footer">
                        <!--a href="#" data-toggle="modal" class="btn" onclick="closeDialog();">Cancel</a-->
                        <a  data-toggle="modal" href="#questionEditWindow" class="btn">Cancel</a>
                        <!--a href="#" class="btn btn-primary" onclick="okClicked();">OK</a-->
                        <input type='button' value='OK' class="btn btn-primary" onclick="okClicked();">
					</div>
                </div>                

                <input type='hidden' id='surveyjson' name='surveyjson' value=''>

			    <hr/>

			    <label class='radio'>
			    	<input type='radio' name='privacy' value='public' style='margin-top:16px;'>
			    	<div class='pull-left' style='width:32px;text-align:center;padding-top:8px;'>
			    		<img src='{% static "/static/img/public_repo.png" %}'>
			    	</div>
			    	<div class='pull-left'>
			    		<strong>Public</strong>
			    		<span class='help-block'>
			    			Anyone can see this repository and the data associated
			    			with it.
			    		</span>
			    	</div>
			    </label>
			    <label class='radio' style='clear:both;'>
			    	<input type='radio' name='privacy' value='private' style='margin-top:16px;' checked='checked'>
			    	<div class='pull-left' style='width:32px;text-align:center;padding-top:8px;'>
			    		<img src='{% static "/static/img/private_repo.png" %}'>
			    	</div>
			    	<div class='pull-left'>
			    		<strong>Private</strong>
			    		<span class='help-block'>
			    			You choose who can see this repository and the data
			    			associated with it.
			    		</span>
			    	</div>
			    </label>
			    <div style='clear:both;'>
			    	<hr/>
			    	<button type='submit' class='btn btn-success'>Create Repository</button>
			    </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}