{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ account_name }} / {{ repo.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "css/leaflet.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/MarkerCluster.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/MarkerCluster.Default.css" %}'>
{% endblock %}

{% block js %}
<script id='form_id' type='text/plain'>{{ sid }}</script>
<script id='user' type='text/plain'>{{ user.username }}</script>
<script type='text/javascript'>
	document.initial_data = {{data|safe}};
</script>
<script src='{% static 'js/vendor/requirejs.js' %}'></script>
<script type='text/javascript'>

	require([ '{% static "js/common.js" %}' ], function (common) {
		require.config({
			baseUrl: '{% static "js/vendor" %}'
		});

		require( [ 'app/viz/main' ] )
	});

	function moveScroller() {
    	var move = function() {

    		var scrollTop = $( window ).scrollTop();
    		var scrollLeft = $( window ).scrollLeft();

    		var offsetTop = $( '#raw_table' ).offset().top;
    		var offsetLeft = $( '#raw_table' ).offset().left;

    		var header = $( '#scroller' );

    		if( scrollTop + 68 > offsetTop ) {

        		$( '#scroller-copy' ).show();

            	header.css({
                	position: "fixed",
                	top: "68px",
                	left: ( 0 - scrollLeft + offsetLeft ) + "px",
                	"box-shadow": "0px 0px 5px rgba(0,0,0,0.3)"
            	});

        	} else if ( scrollTop <= offsetTop ) {

        		$( '#scroller-copy' ).hide();

            	header.css({
                	position: "relative",
                	top: ""
            	});
        	}
    	};
    	$(window).scroll(move);
    	move();
	}

	$( function() {
		moveScroller();
	});
</script>
{% endblock %}

{% block content %}
<div id='privacy' class='one columns'>
	<div>
		{% if repo.is_public %}
			<i class='icon-unlock'></i>
		{% else %}
			<i class='icon-lock'></i>
		{% endif %}
	</div>
</div>
<div class='twelve columns'>
	<h3>
		{% if account.username %}
			<a href='{% url "user_dashboard" username=account.username %}'>{{ account.username }}</a> /
		{% else %}
			<a href='{% url "organization_dashboard" org=account.name %}'>{{ account.name }}</a> /
		{% endif %}

		{{ repo.name }}
	</h3>
	<div class='well well-small'>
		{% if repo.description %}
			{{ repo.description }}
		{% else %}
			No diary description available
		{% endif %}
	</div>

</div>
<div class='three columns' style='text-align:right;'>
	<div style='margin-top:8px;'>
		<a class='btn btn-primary' href='/api/v1/data/{{ sid }}?format=csv&amp;user={{account.username}}'>
			<i class='icon-download'></i> Download All Data
		</a>
	</div>
</div>

<div id='viz'>
	<div class='sixteen columns'>
		<ul id='viz_options' class='nav nav-tabs'>
			<li id='raw_btn' class='active'>
				<a href='#' data-type='raw'>
					<i class='icon-list'></i><br/>
					Raw
				</a>
			</li>
			<li id='map_btn' class='disabled'>
				<a href='#' data-type='map'>
					<i class='icon-map-marker'></i><br/>
					Map
				</a>
			</li>
			<li id='line_btn'>
				<a href='#' data-type='line'>
					<i class='icon-signal'></i><br/>
					Analytics
				</a>
			</li>
			{% if 'delete_repository' in permissions %}
			<li>
				<a href='#' data-type='settings'>
					<i class='icon-cog'></i><br/>
					Settings
				</a>
			</li>
			<li>
				<a href='#' data-type='share'>
					<i class='icon-group'></i><br/>
					Share
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<div class='viz viz-active' id='raw_viz'>
		<div id='list-type' class='sixteen columns'>
			<a class='active' href='#' data-type='list'>
				<i class='icon-align-justify'></i>&nbsp;List
			</a>&nbsp;|&nbsp;
			<a href='#' data-type='grid'>
				<i class='icon-th-large'></i>&nbsp;Grid
			</a>
		</div>
		<div class='sixteen columns active' id='raw_list'>
			<table id="raw_table" class="table">
				<thead id='scroller'><tr></tr></thead>
				<thead id='scroller-copy' style='display:none;'><tr></tr></thead>
				<tbody>
					<tr><td>Loading data...</td></tr>
				</tbody>
			</table>
		</div>
		<div class='sixteen columns' id='raw_grid' style='display:none;position:relative;'></div>
	</div>

	<div class='viz' id='map_viz'>
		<div class='sixteen columns' style='display:none;'>
			<div id='time_select'>
				<input type='range' id='fps' min='1' max='10'/>
				<input type='range' id='playtime' step='10' min='10' max='300'/>
			</div>

			<div id='cumulative'>
				<input id='cumulativeCheck' type="checkbox">Cumulative
				<input id='clusterCheck' type="checkbox">Show Clusters
			</div>

			<div >
				Time Constraint: <input type="text" name="tc" id = "tc_input">
				Day: <input type ="radio"  name="const" value ="day" checked="checked"/>
				hour: <input type="radio" name="const"  value ="hour"/>
				minute: <input type="radio" name="const" value ="minute"/>
				<input type="submit" value="submit" class='btn'id ='time_c'>
				Date: <input type ="radio" name="time" value = "date" checked="checked"/>
				Time stamp: <input type ="radio" name="time" value = "timestamp"/>
					<a href='#' id='clear' data-type='map' class='btn'>Clear Lines</a>
			</div>
		</div>

		<div class='sixteen columns' id='map'></div>

		<div class='offset1 span10' style='clear:both;margin-top:16px;'>
			<div id='current_time' style='text-align:center;'>
				Playback Paused
			</div>
			<div id='progress_bar' class='progress progress-striped'>
				<div class='bar'></div>
			</div>
		</div>
		<div id='playback-controls'>
			<div class='span3'>
				<input type='date' id='start_date'><br>
				<strong>Start Date</strong>
			</div>
			<div class='span6'>
				<div class="btn-group">
					<button id='pause' class='btn'><i class='icon-play'></i></button>
					<button id='reset' class='btn'><i class='icon-stop'></i></button>
				</div>
			</div>
			<div class='span3'>
				<input type='date' id='end_date'><br>
				<strong>End Date</strong>
			</div>
		</div>
	</div>
	<div class='row viz' id='line_viz'>
		<div class='span2'>
			<h4>Y-Axis Options</h4>
			<div id='yaxis_options'></div>
		</div>
		<div class='span10' id='line'></div>
	</div>

	{% if 'delete_repository' in permissions %}
	<div class='viz' id='settings_viz'>
		<div class='sixteen columns'>

			<h4>Administration</h4>

			<div class='row'>
				<div class='six columns'>
					<strong>Edit this data repository</strong>
				</div>
				<div class='ten columns' style='text-align:right;'>
					<a href='{% url "repo_edit" repo_id=sid %}' class='btn btn-medium'>
						Edit Repository
					</a>
				</div>
			</div>

			<div class='row'>
				<div class='six columns'>
					<strong>Delete this data repository</strong>
					<div class='help-block'>
						Once you delete a repository, <strong>ALL</strong> data will
						be removed.
					</div>
				</div>
				<div class='ten columns' style='text-align:right;'>
					<a href='{% url "repo_delete" repo_id=sid %}' class='btn btn-danger'>
						<i class='icon-trash'></i> Delete Repository
					</a>
				</div>
			</div>

			<h4>Diary Backup</h4>

			<div class='row'>
				<div class='sixteen columns'>
					<div>
						<a class='btn' href='/api/v1/repos/{{ sid }}?format=json&amp;user={{ account }}'>
							Download Diary as JSON
						</a>
					</div>

					<div style='margin-top:16px;'>
						<a class='btn' href='/api/v1/repos/{{ sid }}?format=xform&amp;user={{ account }}'>
							Download Diary as XForm
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='row viz' id='share_viz'>

		<div class='sixteen columns'>
			<h4>Data Sharing Settings</h4>
			<div class='row'>
				<div class='seven columns'>
					<strong>Who can see this data?</strong>
				</div>
				<div class='nine columns'>
					<label class='checkbox'>
						<input id='sharing_toggle' type='checkbox' {% if repo.public %}checked='checked'{% endif %}>
						Allow data sharing
					</label>
					<span class='help-block'>
						WARNING: Checking this box will make the data in this repository completely <strong>public</strong>.
					</span>
				</div>

			</div>
		</div>
		<div style='display:none;'>
			<div class='span12'><hr></div>
			<div class='span12'>
				<div class='span3'>
					<strong>How is my data shown?</strong>
				</div>
				<div class='span6'>
					<div>
						<label class='checkbox'>
							<input type='checkbox'>
							Preserve Data Privacy
						</label>
						<span class='help-block'>
							If you allow data sharing, by default we will ensure that
							the data shown will also preserve the privacy of any
							individuals who entered data.
						</span>
					</div>
					<div>
						<label class='checkbox'>
							<input type='checkbox'>
							Show Raw Data
						</label>
					</div>
					<div>
						<label class='checkbox'>
							<input type='checkbox'>
							Show Map Data
						</label>
					</div>
					<div>
						<label class='checkbox'>
							<input type='checkbox'>
							Show Line Data
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
