{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{{ repo.name }} Web Entry
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/webform.css' %}">

<style type='text/css'>
	.autocomplete-list {
		position:absolute;
	}

	.ui-helper-hidden-accessible {
		display:none;
	}

	.ui-autocomplete {
		border-bottom:1px solid #EEE;
		border-right:1px solid #EEE;
		border-left:1px solid #EEE;
		list-style-type: none;
		background-color: white;
	}

	.ui-autocomplete > .ui-menu-item {
		padding: 4px 8px;
		cursor:pointer;
	}

	.ui-autocomplete > .selected {
		background-color: #EEE;
	}

	.grid-list-row {
		border-bottom: 1px solid #000;
	}

	.grid-list-cell {
		padding: 2px 15px 2px 15px;
		text-align: center;

	}
</style>

<!-- For Geopoint option -->
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
{% endblock %}

{% block js %}
<script id='form_id' type='text/html'>{{ repo_id }}</script>
<script id='user' type='text/html'>{{ user.username }}</script>

<script src='{% static 'js/vendor/requirejs.js' %}'></script>
<script type='text/javascript'>
	require([ '{% static "js/common.js" %}' ], function (common) {

		require.config({
			baseUrl: '{% static "js/vendor" %}'
		});

		require( [ 'app/webform/main' ] )
	});
</script>
<script src="{% static 'js/vendor/bootstrap.2.3.1.min.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type='text/javascript'>
	$( function() {
		console.log( 'loaded' );
		$(document).on( "focus", ".autofill", function() {

			var repo = $( this ).data( 'repo' );
			var field = $( this ).data( 'field' );

			if( !$(this).data( 'autocomplete' ) ) {

				$( this ).autocomplete( {
					appendTo: '#autofill_list',
					minLength: 2,
					source: function( request, response ) {

					    $.ajax( {
					    	url: "/api/v1/data/" + repo,
					    	data: {
					    		format: 'json',
					    		user: $( '#user' ).html()
					    	},
							success: function( query ) {
					    		response( $.map( query.data, function( item ) {
					        		return { label: item.data[ field ], value: item.data[ field ] }
					        	}));
					        }
					    });
					},
	        		select: function( event, ui ) {

	        			console.log( ui.item.value );
	        		}
	        	});
	        }
		});
	});
</script>
<script>
$("alert_template .close").click(function(e) {
	$("alert_template span").remove();
});
</script>
{% endblock %}

{% block content %}
<div class='container' id='webform'>
	<div class='row'>
		<div class='span12'>
			<h2>
				{% if account.username %}
					<a href='{% url "user_dashboard" username=account.username %}'>{{ account.username }}</a>
				{% else %}
					<a href='{% url "organization_dashboard" org=account.name %}'>{{ account.name }}</a>
				{% endif %}
				/&nbsp;{{ repo.name }}
			</h2>
		</div>
	</div>
	<div class="row">
		<div id="autofill_list" class='autocomplete-list'></div>
	  	<div id="xform_view" class="span12">
	    	<div id="form_fields" class="formbox">
		  		<div id="formDiv"></div>
		  		<div id="alert-placeholder"></div>
	    	</div>
	    	<div id='form_actions' style='overflow:auto;'>
	    		<div class='pull-right'>
	    			<a href="#" class='btn' id="next_btn">Next</a>
	    			<a href='#' class='btn btn-success' style='display:none;' id='submit_btn'>Submit</a>
	    		</div>
				<a href="#" class='btn' style='display:none;' id="prev_btn">Previous</a>
			</div>
	  	</div>
	</div>
</div>
{% endblock %}