{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Keep{% endblock %}</title>

    <link rel='shortcut icon' href='{% static "favicon/favicon.ico" %}'>
    <link rel='icon' type='image/png' href='{% static "favicon/favicon.128.png" %}'>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='{% static "css/bootstrap.2.3.1.min.css" %}' rel='stylesheet'>
    <style type='text/css'>
        body { margin-top:64px; }
        span.help-block { font-size: 13px; color: #AAA; }
    </style>
    {% block css %}{% endblock %}

    <!-- spot to insert stuff for google maps -->
    {% block additional-headers %}{% endblock %}
</head>
<body>
    {% include "topbar.html" %}
    <div class="container">
        {% block content %}
        {% if template %}{% include template %}{% endif %}
        {{ content|safe }}
        {% endblock %}
    </div>
    {% include "footer.html" %}

    <!-- JAVASCRIPT! -->
    <script src='{% static "js/vendor/jquery-1.9.1.min.js" %}'></script>
    <script src='{% static "js/vendor/bootstrap.2.3.1.min.js" %}'></script>
    {% block js %}{% endblock %}
</body>
</html>
