{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}

{% block js %}
<script type='text/javascript' src='{% static "/static/js/vendor/underscore-1.4.4.js" %}'></script>
<script type='text/javascript' src='{% static "/static/js/vendor/moment.min.js" %}'></script>
<script type='text/javascript' src='{% static "/static/js/dashboard.js" %}'></script>
<script id='user' type='text/html'>{{ user.username }}</script>
<script id='submission_feed_tmpl' type='text/html'>
	<div style='border-bottom: 1px solid #EEE;padding-bottom:4px;margin-bottom:4px;'>
		<div>
			<a href='<%= link %>'>
				<%= label %>
			</a>
		</div>
		<div style='color:#AAA;'>
			<%= time %> (<%= survey_name %>)
		</div>
	</div>
</script>
{% endblock %}

{% block content %}
<div class='row'>
	<div class='span4'>
		<h3>
			<a href='/{{ user.username }}'>{{ account.username }}</a>
		</h3>
		<div>
			<h4>Recent Submissions</h4>
			<div id='submissions_feed'></div>
		</div>
	</div>
	<div class='span8'>
		<table class='table table-striped table-bordered'>
			<thead>
				<tr>
					<td colspan='4' style='background-color:#EEE;'>
						<h4>
							<div class='pull-right'>
								<a href='/repo/new' class='btn btn-small'>
									New Repository
								</a>
							</div>
							Data Repositories
						</h4>
					</td>
				</tr>
			</thead>
			<tbody>
				{% if user_forms|length == 0 %}
					<tr>
						<td style='text-align:center;' colspan='4'>
							You have no forms uploaded =[
						</td>
					</tr>
				{% endif %}
				{% for repo in user_forms %}
					{% if xform.public or user.username == account.username %}
					<tr>
						<td style='width:32px;text-align:center;'>
							{% if repo.public %}
								<img src='/static/img/public_repo.png' alt='Public'>
							{% else %}
								<img src='/static/img/private_repo.png' alt='Private'>
							{% endif %}
						</td>
						<td>
							<a href='/{{ account.username }}/{{ repo.name }}'>
								{{ repo.name }}
							</a>
							{% if repo.description %}
							<span class='help-block'>
								{{ repo.description|slice:":42" }}...
							</span>
							{% endif %}
						</td>
						<td style='width:102px;text-align:center;'>
							<a href='/repo/webform/{{ repo.name }}' class='btn btn-small'>
								<i class='icon-pencil'></i> Web Form
							</a>
						</td>
						<td style='width:64px;text-align:right;'>
							{{ repo.submission_count }} <i class='icon-file'></i>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}