{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
<script type='text/javascript' src='{% static "/static/js/vendor/underscore-1.4.4.js" %}'></script>
<script type='text/javascript' src='{% static "/static/js/vendor/moment.min.js" %}'></script>
<script type='text/javascript' src='{% static "/static/js/dashboard.js" %}'></script>
<script id='user' type='text/html'>{{ user.username }}</script>
<script id='submission_feed_tmpl' type='text/html'>
	<div style='border-bottom: 1px solid #EEE;padding-bottom:4px;margin-bottom:4px;'>
		<div>
			<a href='<%= link %>'>
				<%= label %>
			</a>
		</div>
		<div style='color:#AAA;'>
			<%= time %> (<%= survey_name %>)
		</div>
	</div>
</script>
{% endblock %}

{% block content %}
<div class='row'>
	<div class='span4'>
		<div>
			<form action='{% url "user_dashboard" user.username %}' method='post' enctype='multipart/form-data'>
				<h4>XForm Upload</h4>
				{% csrf_token %}
				{{ form.file }}
				<button type='submit' class='btn btn-primary'>Upload!</button>
			</form>
		</div>
		<hr/>
		<div>
			<h4>Form Submissions</h4>
			<div id='submissions_feed'></div>
		</div>
		<div>
			<h4>
		</div>
	</div>
	<div class='span8'>
		<h3>Your Forms</h3>
		{% if user_forms|length == 0 %}
		<div style='margin-bottom:32px;'>You have no forms uploaded =[</div>
		{% else %}
		<table class='table table-striped table-condensed'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Submissions</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for xform in user_forms %}
					<tr>
						<td>
							<div class='btn-group'>
								<a class='btn dropdown-toggle' data-toggle='dropdown' href='#'>
									{{ xform.name }}
									<span class='caret'></span>
								</a>
								<ul class='dropdown-menu'>
									<li>
										<a href='/api/v1/forms/{{ xform.mongo_id }}?format=json&amp;user={{ user.username }}'>
											Download as JSON
										</a>
									</li>
									<li>
										<a href='/api/v1/forms/{{ xform.mongo_id }}?format=xform&amp;user={{ user.username }}'>
											Download as XForm
										</a>
									</li>
								</ul>
							</div>
						</td>
						<td>{{ xform.submission_count }}</td>
						<td>
							<div class='btn-group'>
								<a class='btn dropdown-toggle {% if xform.submission_count == 0 %}disabled{% endif %}'
								   data-toggle='dropdown' href='javascript:void(0);'>
									<i class='icon-file'></i> Data
									<span class='caret'></span>
								</a>
								<ul class='dropdown-menu'>
									<li>
										<a href='/api/v1/data/{{xform.mongo_id}}?format=csv'>
											<i class='icon-download'></i>
											Download
										</a>
									</li>
									<li>
										<a href='/{{ user.username }}/{{ xform.mongo_id }}'>
											<i class='icon-search'></i>
											Visualize
										</a>
									</li>
								</ul>
							</div>
							<a href='/forms/webform/{{xform.mongo_id}}' class='btn'><i class='icon-pencil'></i> Web Form</a>
							<a href='/forms/delete/{{xform.mongo_id}}' class='btn btn-danger'><i class='icon-trash'></i> Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}