{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
<script type="text/javascript">
	$( function() {
		$( '#info-start-btn' ).click( function() {
			$( 'html, body' ).animate( {
				scrollTop: $( '#info-start' ).offset().top - 134
			});

			return false;
		});
	});
</script>
{% endblock %}

{% block outerspace %}
<div class='jumbotron'>
	<div class='container'>
		<div class='sixteen columns'>
			<h1>A <span class='widescreen-only'>powerful, secure</span> data diary for the crowd.</h1>
		</div>

		<div class='twelve columns offset-by-two'>
			<h4>
				KEEP is a <strong><a href='#'>simple, flexible, and reliable</a></strong> data diary for scientific and health data
				tightly coupled with <strong><a href='#'>powerful visualization</a></strong> and <strong><a href='#'>analytics</a></strong>.
			</h4>
		</div>
			
		<div class='sixteen columns'>
			<div>
				<img src='{% static "img/masthead/dataflow.png" %}' width='50%' style='min-width:320px;'>
			</div>

			<div>
				<a href='{% url "registration_register" %}' class='btn btn-primary btn-large'>Get Started!</a>
				<a href='{% url "auth_login" %}' class='btn btn-large'>Log In</a>
			</div>

			<div>
				<a id='info-start-btn' href='#info-start'>Learn More <i class='icon-double-angle-right'></i></a>
			</div>
		</div>
	</div>
</div>

<div class='banner'>
	<div class='container'>
		<div class='six columns offset-by-two'>
			<div class='data-collection-banner'></div>
		</div>
		<div class='six columns'>
			<a name='info-start' id='info-start'><h2>Simple Data Collection</h2></a>
			<div>
				<strong>Start collecting immediately.</strong> Diaries can be 
				created using existing spreadsheets or from scratch allowing 
				you to begin collecting data immediately.
			</div>
			<div class='section' style='padding-left:0;'>
				<a href='#' class='btn btn-primary'>
					See How It Works
					<i class='icon-chevron-right'></i>
				</a>
			</div>
		</div>		
	</div>
</div>
<div class='banner'>
	<div class='container'>
		<div class='six columns offset-by-two'>
			<h2>Intuitive Management</h2>
			<div>
				<strong>Easily manage your data</strong> in an intuitive spreadsheet-like interface 
				that was built with little and big data in mind. Add, edit, 
				and delete data all from a single place.
			</div>
			<div class='section' style='padding-left:0;'>
				<a href='#' class='btn btn-primary'>
					Tell Me More!
					<i class='icon-chevron-right'></i>
				</a>
			</div>			
		</div>
		<div class='six columns'>
			<div class='management-banner'></div>
		</div>
	</div>
</div>
<div class='banner' style='display:none;'>
	<div class='container'>
		<div class='six columns offset-by-two'>
			<div class='securedata-banner'></div>
		</div>
		<div class='six columns'>
			<h2>Securely Stored</h2>
			<div>				
				<strong>Only share what you want.</strong> Two-factor authentication 
				and 1024-bit SSL encryption used throughout the data collection 
				process allows your data to be safely transmitted and stored.
			</div>
		</div>
	</div>
</div>
<div class='banner' style='display:none;'>
	<div class='container'>
		<div class='six columns offset-by-two'>
			<div class='privacy-banner'></div>
		</div>
		<div class='six columns'>
			<h2>Privatize Shared Data</h2>
			<div>
				<strong>Share data privately.</strong> Differential privacy allows 
				you to share potentially confidential information by fuzzing the 
				data with enough randomness to mask it but still provide 
				statistically useful analytics.
			</div>
		</div>
	</div>
</div>
<div class='banner'>
	<div class='container'>
		<div class='six columns offset-by-two'>
			<div class='analytics-banner'></div>
		</div>	
		<div class='six columns'>
			<h2>Powerful Analytics</h2>
			<div>
				<strong>Learn more about your data.</strong> Create custom visualizations 
				and analytics, allowing you to view your data in new and powerful ways.
			</div>			
			<div class='section' style='padding-left:0;'>
				<a href='#' class='btn btn-primary'>
					Wow, what else?	
					<i class='icon-chevron-right'></i>
				</a>
			</div>			
		</div>
	</div>
</div>
{% endblock %}
