{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
{% endblock %}

{% block title %}Report{% endblock %}

{% block content %}
<div class='container'>
	<div class='row'>
		<div class='span12'>
							
            <table class='table table-striped table-bordered'>
                <thead>
                    <tr>
                        <td colspan='4' style='background-color:#EEE;'>
                            <h4>
                                Report Items
                            </h4>
                        </td>
                    </tr>
                </thead>
                <tbody >
                    {% for item in report_items %}
                    <tr>
                        <td>Form: {{ item.form_name }}</td>
                        <td>Question: {{ item.form_question }}</td>
                        <td>{{ item.report_string }}</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>

		</div>
	</div>
</div>
{% endblock %}