{% load i18n %}

<div class='navbar navbar-fixed-top'>
	<div class='navbar-inner'>
		<div class = "container">
		    <div class="row">
	      		<div class="span9">
					<a class="brand" href="/" title="formhub">KEEP</a>
				</div>
				{% if user.is_authenticated %}
				<div class='offset1 span2'>
					<ul class='nav pull-right'>
						<li style='display:none;'> <a href='{% url "settings" %}'><i class='icon-cog'></i>&nbsp;Settings </a> </li>
						<li>
							<a href='{% url "auth_logout" %}'>
								<i class='icon-signout'></i>
							</a>
						</li>
					</ul>
				</div>
				{% else %}
				<div class='span3'>
					<ul class='nav'>
						<li> <a href='{% url "registration_register" %}'> Sign Up </a> </li>
						<li> <a href='{% url "auth_login" %}'> Log In </a> </li>
					</ul>
				</div>
				{% endif %}
		  	</div>
		</div>
	</div>
</div>