{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "/static/css/viz.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "/static/css/leaflet.css" %}'>
{% endblock %}

{% block js %}
<script id='form_id' type='text/plain'>{{ sid }}</script>
<script id='user' type='text/plain'>{{ user.username }}</script>
<script id='yaxis_tmpl' type='text/html'>
	<label class="radio">
  		<input type="radio" value="<%= value %>" <%= checked %>>
  		<%= label %>
	</label>
</script>

<script src='{% static "/static/js/vendor/json2.js" %}'></script>
<script src='{% static "/static/js/vendor/underscore-1.4.4.js" %}'></script>
<script src='{% static "/static/js/vendor/backbone-min.js" %}'></script>

<!-- DataTables -->
<script src='{% static "/static/js/vendor/jquery.dataTables.min.js" %}'></script>
<script src='{% static "/static/js/vendor/bootstrap.dataTables.js" %}'></script>

<!-- Geo viz -->
<script src='{% static "/static/js/vendor/leaflet.js" %}'></script>

<!-- Chart viz -->
<script src='{% static "/static/js/vendor/d3.v3.min.js" %}'></script>
<script src='{% static "/static/js/viz.js" %}'></script>
<script type='text/javascript'>
	$( function() {
		// Initialize data
		document.initial_data = new DataCollection();
		document.initial_data.reset( {{data|safe }} );

		// Start up visualization
		document.vizApp = new DataView();
	});
</script>
{% endblock %}

{% block content %}
<div class='container'>
	<div class='row'>
		<div class='span12'>
			<h3>
				<a href='/{{ account.username }}'>{{ account.username }}</a> /
				<div class='btn-group'>
					<a class='btn dropdown-toggle' data-toggle='dropdown' href='#'>
						{{ survey.name }}
						<span class='caret'></span>
					</a>
					<ul class='dropdown-menu'>
						<li>
							<a href='/api/v1/forms/{{ sid }}?format=json&amp;user={{ account.username }}'>
								Download as JSON
							</a>
						</li>
						<li>
							<a href='/api/v1/forms/{{ sid }}?format=xform&amp;user={{ account.username }}'>
								Download as XForm
							</a>
						</li>
					</ul>
				</div>
			</h3>
		</div>
	</div>
</div>
<div class='container' id='viz'>
	<div class='row'>
		<div class='span12'>
			<div class='pull-right'>
				<a class='btn' href='/api/v1/data/{{ sid }}?format=csv'>
					<i class='icon-download'></i> Download Data
				</a>
			</div>
			<div class='btn-toolbar'>
				<div class='btn-group' id='chart_options'>
					<a href='#' id='raw_btn' data-type='raw' class='btn active'><i class='icon-list'></i> Raw</a>
					<a href='#' id='map_btn' data-type='map' class='btn disabled'><i class='icon-map-marker'></i> Map</a>
					<a href='#' id='line_btn' data-type='line' class='btn'><i class='icon-signal'></i> Line</a>
					{% if not user.is_anonymous and user.id == account.id %}
					<a data-type='settings' class='btn'>
						<i class='icon-cog'></i>
						Settings
					</a>
					<a data-type='share' class='btn btn-primary'>Share Data</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class='row viz viz-active' id='raw_viz'>
		<div class='span12' id='raw'></div>
	</div>
	<div class='row viz' id='map_viz'>
		<div class='span12' id='map'></div>
	</div>
	<div class='row viz' id='line_viz'>
		<div class='span2'>
			<h4>Y-Axis Options</h4>
			<div id='yaxis_options'></div>
		</div>
		<div class='span10' id='line'></div>
	</div>
	{% if not user.is_anonymous %}
	<div class='row viz' id='settings_viz'>
		<div class='span12'>
			<div class='span3'>
				<strong>Delete this data repository</strong>
				<span class='help-block'>
					Once you delete a repository, <strong>ALL</strong> data will
					be removed.
				</span>
			</div>
			<div class='span8' style='text-align:right;padding-top:16px;'>
				<a href='/forms/delete/{{ sid }}' class='btn btn-danger'>
					<i class='icon-trash'></i> Delete Repository
				</a>
			</div>
		</div>
	</div>
	<div class='row viz' id='share_viz'>
		<div class='span12'>
			<h4>Data Sharing Settings</h4>
			<hr>
		</div>
		<div class='span12'>
			<div class='span3'>
				<strong>Who can see this data?</strong>
			</div>
			<div class='span6'>
				<label class='checkbox'>
					<input id='sharing_toggle' type='checkbox' {% if survey.public %}checked='checked'{% endif %}>
					Allow data sharing
				</label>
				<span class='help-block'>
					WARNING: Checking this box will make the data in this repository completely <strong>public</strong>.
				</span>
			</div>
		</div>
		<div style='display:none;'>
		<div class='span12'><hr></div>
		<div class='span12'>
			<div class='span3'>
				<strong>How is my data shown?</strong>
			</div>
			<div class='span6'>
				<div>
					<label class='checkbox'>
						<input type='checkbox'>
						Preserve Data Privacy
					</label>
					<span class='help-block'>
						If you allow data sharing, by default we will ensure that
						the data shown will also preserve the privacy of any
						individuals who entered data.
					</span>
				</div>
				<div>
					<label class='checkbox'>
						<input type='checkbox'>
						Show Raw Data
					</label>
				</div>
				<div>
					<label class='checkbox'>
						<input type='checkbox'>
						Show Map Data
					</label>
				</div>
				<div>
					<label class='checkbox'>
						<input type='checkbox'>
						Show Line Data
					</label>
				</div>
			</div>
		</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}